.search-bar {
    margin-top: 7%;
    width: 50%;
}

.aff {
    display: flex;
}

.movie {
    margin-top: 5%;
    margin-bottom: 5%;


}

.text-decoration-none{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(76, 73, 112);
}

.pagin {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
}