<h1 style="text-align:center">
Formulaire de connexion</h1>
<div class="login">
  <h2 class="login-header">S'identifier</h2>
  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="seConnecter()">
    
     <p> <input type="email" placeholder="Email" formControlName="email" required></p>

    <div *ngIf="email && email.invalid && email?.touched" class="span">L'email est requis</div>

   
      <p><input type="password" placeholder="Password" formControlName="password" required></p>


    <div class="help-block">
      <div *ngIf="password && password.invalid && password?.touched" class="span">Mot de passe requis</div>
    </div>

    <p>
      <input type="submit" value="Log in">
    </p>
  </form>
</div>