.login-header {
  margin-top: 14%;
  background: rgba(43, 113, 251, 0.628);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.span {
  color: red;
}