.aff {
    display: flex;
}

.movie {
    margin-top: 5%;
    margin-bottom: 5%;
}

.pagin {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
}

.navbar{
    margin-top: 5%;
    position :static;
}

.nav-link{
    border-color: transparent;
    background-color: transparent; 
    font-size: larger; 

}

.d-flex{
    width: 50%;
}