<div class="container">
  <div class="search-bar">
    <form class="d-flex" (ngSubmit)="searchMovies(searchTerm)">
      <input [(ngModel)]="searchTerm" name="searchTerm" class="form-control me-2" type="search" placeholder="Search"
        aria-label="Search">
      <button type="submit" class="btn btn-outline-success">Search</button>
    </form>
  </div>
</div>

<mat-paginator class="pagin" [length]="movies.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions" (page)="setPage($event)">
</mat-paginator>
<div class="aff">
  <div class="container">
    <div *ngFor="let movie of  movies.slice(start,end)">
      <div class="movie">
        <div class="row">
          <div class="col">
            <a [routerLink]="['/film', movie.id]" class="text-decoration-none">
              <h1>{{ movie.title }}</h1>
              </a>
            <p>{{ movie.release_date }}</p>
            <div *ngIf="this.isConnected() && !this.isInFavorites(movie)">
              <button class="btn btn-light" (click)="addToFavorites(movie)">+ Favorites</button>
            </div>
            <div *ngIf="this.isConnected() && this.isInFavorites(movie)">
              <p>In favorites<p>
            </div>
          </div>
          <div class="col">
            <a [routerLink]="['/film', movie.id]">
              <img [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>