.aff{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  place-items: center;
  padding-top: 5rem;
  background-color: #000000;
}

.movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  height: 35rem;

  a {
    color: white;
  }

  :nth-child(2):hover {
    text-decoration: underline;
  }

  p {
    color: #F5C518;
  }

}

.text-decoration-none{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(131, 113, 237);
}
